---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} {{ site.data.translations['_layouts']['item']['item-page-base.html']['items'][site.lang] | default: 'Items'}}){% endif %}</div>
    <h2 class="mb-3">{{ page.title }} 
        {% unless page.display_template == 'record' %}<a href="#metadata" class="ms-5 btn btn-sm btn-outline-dark small">{{ site.data.translations['_layouts']['item']['item-page-base.html']['item-info'][site.lang] | default: 'Item Info'}} 
            <svg class="bi icon-sprite" role="img" aria-label="{{ site.data.translations['_layouts']['item']['item-page-base.html']['jump-to'][site.lang] | default: 'Jump to item info'}}">
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#arrow-down"/>
            </svg>
        </a>{% endunless %}
    </h2>
    <h4>{{page.creator}}</h4>

    <div class="row wrap">
        <div class="col-lg-3 position-fixed sidebar">
            <ul class="big-themes">
                <li>{{page.literacy}}</li>
                <li>{{page.subject}}</li>
            </ul>
            <ul class="litte-themes">
                <li>{{page.theme}}</li>
            </ul>
        </div>
        <div class="col-lg-3 offset-lg-3">
            <!-- <img src="{{ '/assets/img/monkey.gif' | relative_url }}" /> -->
            <!-- <img src="{{page.image_thumb}}"> -->
            <img class="figure-img img-fluid rounded lazyload" alt="{{ page.image_alt_text | default: image_caption | escape }}"  title="{{ site.data.translations['_includes']['feature']['image.html']['click'][site.lang] | default: "click to see item" }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ page.image_thumb }}" >
            <ul>
                <li>media type: {{page.display_template}}</li>
                <li>time: {{page.time}}</li>
                <li>audience: {{page.audience}}</li>
            </ul>
            
        </div>
        <div class="col-lg-6">
            <p>{{page.description}}</p>
        </div>
        <!-- that is the top row of items ;) -->
    </div>
    <div class="row justify-content-right">
        <div class="col-9 col-md-10">

        {{ content }}

        </div>

        <div class="col-12 col-md-10" id="metadata">

            {% include item/metadata.html %}

        </div>

        <div class="col-md-5 py-4">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5 py-4">
            {% include item/rights-box.html %}
        </div>
        {% endif %}
    </div>
    </div>
        

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>